{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head_title %}
Project: {{ project_name }}
{% endblock %}

{% block content %}
<div>
<p>Name: {{ project_form.instance.name }}</p>
<p><form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form project_form %}
  {% bootstrap_button "Save project" button_type="submit" button_class="btn-primary" name="project-edit" %}
</form></p>
<p><form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form screenshot_form %}
  {% bootstrap_button "Upload screenshot" button_type="submit" button_class="btn-primary" name="screenshot-upload" %}
</form></p>
{% if screenshots %}
<div class="row">
{% for screenshot in screenshots %}
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="/media/{{ screenshot.screenshot.name }}"><img src="/media/{{ screenshot.screenshot.name }}" alt="{{ screenshot.filename }}"></a>
      <p>{{ screenshot.filename }}</p>
      <form method="post" action="#">
        {% csrf_token %}
        <input name="screenshotid" type="hidden" value="{{ screenshot.id }}">
        {% bootstrap_button "Delete" button_type="submit" button_class="btn-danger" name="screenshot-delete" %}
      </form>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
{% if files_forms %}
<p>Files:</p>
<ul>
{% for file_form in files_forms %}
  <li>
    <p><form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Version: {{ file_form.instance.version }}</p>
      {% bootstrap_form file_form %}
      <input name="fileid" type="hidden" value="{{ file_form.instance.id }}">
      <input name="formid" type="hidden" value="{{ forloop.counter0 }}">
      {% bootstrap_button "Save file" button_type="submit" button_class="btn-primary" name="file-edit" %}
      {% bootstrap_button "Delete file" button_type="submit" button_class="btn-danger" name="file-delete" %}
    </form></p>
  </li>
{% endfor %}
</ul>
{% else %}
<p>No files here!</p>
{% endif %}
<p>Upload new file (*.tar.gz, *.tar.xz, *.tar.bz2, *.zip):</p>
<p><form method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
  {% csrf_token %}
  {% bootstrap_form upload_form layout=layout %}
  {% bootstrap_button "Upload file" button_type="submit" button_class="btn-primary" name="file-upload" %}
</form></p>
<p><a href="{% url 'delete_project' project_form.instance.name %}">Delete project</a></p>
</div>
{% endblock %}