{% extends 'base.html' %}

{% block head_title %}
Patchmanager2 Documentation (kinda)
{% endblock %}

{% block content %}
<h1>Patch verification</h1>
<p>Archive verification:</p>
  <ul>
    <li>Patch file allowed extensions are: .zip .tar.gz .tar.bz2 .tar.xz</li>
    <li>Patch file should contain unified_diff.patch</li>
    <li>Files should be placed inside archive without subfolders</li>
  </ul>
<p>Allowed extra content:</p>
  <ul>
    <li>Allowed to have extra files with extensions: '.qml' '.js' '.png' '.svg' '.qm'</li>
    <li>Patch translation qm files should be named "translation_LANG.qm"</li>
    <li>Optional patch file icon should be named main.png</li>
    <li>Optional patch settings entry file should be named main.qml
    <br>You can push as many extra pages from your main qml. All extra files are located in same directory</li>
  </ul>
<p>Project fields verification:</p>
  <ul>
    <li>Name field can contain only alphanumeric chars, underscore and hyphen.
    <br>Available chars are 'a-z' 'A-Z' '0-9' '-' and '_'
    <br>Name value is only used internally. For pretty name use Display name field.</li>
    <li>Version should contain three numbers dot separated. Example: 1.2.3</li>
  </ul>
{% endblock %}