{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head_title %}
Create new project
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form project_form %}
  {% bootstrap_form screenshot_form %}
  {% bootstrap_form file_form %}
  {% bootstrap_button "Upload" button_type="submit" button_class="btn-primary" %}
</form>
{% else %}
<p>You need to <a href="{% url 'account_login' %}">Sign In</a> to create projects.</p>
{% endif %}
{% endblock %}