{% extends 'base.html' %}

{% block head_title %}
Project: {{ project.name }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}{% if project.author == user.username or user.is_staff %}
<p><a href="{% url 'edit_project' project.name %}">Edit project</a></p>
{% endif %}{% endif %}
<p>Name: {{ project.name }}</p>
<p>Display name: {{ project.display_name }}</p>
<p><small>Author: <a href="{% url 'view_user_projects' project.author %}">{{ project.author }}</a></small></p>
<p><small>Updated at: {{ project.last_updated }}</small></p>
{% if project.discussion %}<p><small><a href="{{ project.discussion }}">Discussion</a></small></p>{% endif %}
{% if project.donations %}<p><small><a href="{{ project.donations }}">Donate</a></small></p>{% endif %}
{% if project.sources %}<p><small><a href="{{ project.sources }}">Sources</a></small></p>{% endif %}
<p><small>Description: {{ project.description | linebreaksbr }}</small></p>
<p><small>Rating: {{ project.rating }}</small></p>
<p><small>Total activations: {{ project.total_activations }}</small></p>
{% if screenshots %}
<div class="row">
{% for screenshot in screenshots %}
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <a href="/media/{{ screenshot.screenshot.name }}"><img src="/media/{{ screenshot.screenshot.name }}" alt="{{ screenshot.filename }}"></a>
    </div>
  </div>
{% endfor %}
</div>
{% endif %}
{% if files %}
<p>Files:</p>
<ul>
{% for file in files %}
  <li>
    <p><small>Version: {{ file.version }}</small></p>
    <p><small>Compatible: {{ file.compatible|join:', ' }}</small></p>
    <p><small>Uploaded at: {{ file.uploaded }}</small></p>
    <p><small>Activations: {{ file.activations }}</small></p>
    <p><small>Changelog: {{ file.changelog | linebreaksbr }}</small></p>
    <p><a href="{{ file.document.url }}">{{ file.document.name }}</a></p>
  </li>
{% endfor %}
</ul>
{% else %}
<p>No files here!</p>
{% endif %}
{% endblock %}
